a,
a:visited,
a:hover {
	text-decoration: none
}
a:hover {
	color: #0bf;
}

img [src='./hatt.jpg'] {
	border-radius: 100%;
}

ul {
	list-style-type: none;
}

h1 img,
li img {
	height: 1em;
	padding-right: 1em;
}

.container-lg {
	padding: 2em;
}
