a,
a:visited,
a:hover {
	text-decoration: none
}
a:hover {
	color: #0bf;
}

ul {
	list-style-type: none;
}

h1 img {
	bottom: -0.5em;
	border-radius: 100%;
}

li img {
	height: 1em;
	padding-right: 1em;
}

.container-lg {
	padding: 2em;
}

@media screen and (orientation: portrait) {
	body {
		font-size: 170%;
	}
}
